*{font-family: 'Inter', sans-serif;
    margin: 0;padding: 0px;box-sizing: border-box;
} @import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
.nav {z-index: 999999;box-shadow: 0px 3px 20px 0px #bda0a0;
  height: 70px;
  width: 100%;
  border-bottom: 1px solid #f5f6f7;
 background-color: #fff;
  position: relative;
  display: flex;
  justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    top: 0px;
    position: sticky;
    margin-right: auto;
    margin-left: auto;
}
.nav-links{
  box-shadow: 0px 13px 20px 0px #bda0a04d;

}
.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {

  display: inline-block;
    font-size: 28px;
    color: #626a72;
    padding: 10px 10px 10px 10px;
    font-weight: bold;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 15px;
  
}

.nav > .nav-links > a {
  display: inline-block;
  text-decoration: none;
  color: #626a72;
vertical-align:top;
letter-spacing:normal;
word-spacing:0px;
margin:0px 4px;
padding:6px 8px;
font-family: 'Inter', sans-serif;
font-weight: 500;
    font-size: 15px;
    line-height: 24px;
   
    cursor: pointer;
}

.nav > .nav-links > a:hover {
  color:#1d1d1d;
}

.nav > #nav-check {
  display: none;
}





@media (max-width:600px) {

    .nav {
      top: 0px;
      position: sticky;
            height: 64px;
            padding: 2px 20px;
    
      }
      .nav > #nav-check:not(:checked) ~ .nav-links {
        height: 0px;
        display: none;
    
    } 

  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 20px;
    margin-right: 20px;
  }
.nav > #nav-check:checked ~ .nav-links {
    height:fit-content;
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }


 
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 3px solid #7f7f7f;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #fff;
    height: 0px;
    transition: all 0.3s ease-in;
    top: 64px;
    left: 0px;
  }
  

  .nav > .nav-links > a {
  margin: 0px 0px;
  }
  .nav > .nav-links > a {
    display: block;
    
  }
 
  
}

/* hero page */

.section.light-color-gradient {
   padding: 40px 0px;
    height:fit-content;justify-content: space-between;
    position: relative;
    background-color: #f5f6f7;
    background-image: linear-gradient(54deg, rgba(255, 131, 122, 0.25), rgba(255, 131, 122, 0) 28%), linear-gradient(241deg, rgba(239, 152, 207, 0.25), rgba(239, 152, 207, 0) 36%);
}

.grid-sec{
    display: grid;
    grid-template-columns: 1.4fr 1fr;
    grid-template-rows: auto;
    grid-row-gap: 16px;
    grid-column-gap: 16px;
    height: fit-content;
    width:100%;
}

.container{ 
    padding:0px 20px;
    height: 100%;
    display: flex;
    width:100%;
    align-items: center;
}
.btnheading{
    width: 100%;
   
}
.text-box {
    position: relative;
  
}
.text-box._500px {
    max-width: 500px;
}
.hero-illustration {
    width: 337px;
    margin-left: 0px;
}
.getbutton{
    display: inline-block;
    text-decoration: none;
  vertical-align:top;
  letter-spacing:normal;
  word-spacing:0px;

  padding:6px 8px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.8em; 
    cursor: pointer;
    border-radius: 8px;
    background-color: #1d1d1d;
    box-shadow: 0 2px 0 0 #f5f6f7;
    -webkit-transition: box-shadow 200ms ease, background-color 200ms ease, color 200ms ease, -webkit-transform 200ms ease;
    transition: box-shadow 200ms ease, background-color 200ms ease, color 200ms ease, -webkit-transform 200ms ease;
    transition: box-shadow 200ms ease, background-color 200ms ease, transform 200ms ease, color 200ms ease;
    transition: box-shadow 200ms ease, background-color 200ms ease, transform 200ms ease, color 200ms ease, -webkit-transform 200ms ease;
    color: #fff;
       width: 100%;
       text-align: center; 
}

  .section{
    width: 100%;
  } 
  .heading.h1 {    margin-bottom: 18px;
    font-size: 35px;
}
.paragraph.large {    margin-bottom: 16px;
    font-size: 20px;
    line-height: 1.5em;
}

/* hero media query */
@media (max-width:600px) {


    .grid-sec{
        grid-template-rows: auto;
        grid-template-columns: 1fr;
        grid-auto-columns: 1fr;
    }
    
    .hero-illustration {
        width: 120px;
        order: -9999;
    }
    .section.light-color-gradient {
   
      height:fit-content;}

}

/* img section */
.section2{
  width: 100%;
  padding: 40px 20px;
}
.headingimg{
  text-align: start;
}
.headingimg h3{   
  margin:10px 0px;
  font-size: 35px;
}

.headingimg p{   
  font-size: 20px;
    line-height: 1.4em;
}

.imgh{
  max-width: 900px;
  margin: auto;
  text-align: center;
}
.headingimg h4{
font-size: 20px;
    margin: 10px 0px;}

    .subheading p{
      margin-left: 23px;
      font-size: 16px;
    }
    footer{
      padding:30px 20px 30px 20px;
      background: #1d1d1d1c;
    }
    .footer{max-width: 900px;
      margin: auto;
  
      display: flex;
    align-items: center;
    justify-content: space-between;
    }

    .footerlink{
    padding: 0px 0px 0px 8px;
      font-size: 12px;
    }

    .socaila{
      text-decoration: none;
      padding: 0px 4px;
    }